@media only screen and (max-width: 1400px){
    
    // .form-box{
    //     max-height: 75%;
    // }
    .preview-img{
        max-height: 300px;
    }
}







@media only screen and (max-width: 450px){

    html{
        font-size: 16px;
    }


    #login-container{
        height: 100vh;
        flex-direction: column-reverse;
    }
    #login-center{
        width: 80%;
        height: 1px;
    }
    #login-right,#login-left{
        width: 100%;
    }
    #login-right{
        height: 70%;
        padding: 0;
    }

    #header-wrap{
        padding: 0 20px;
    }
    .page-wrap-active-menu{
        padding-left: 0;
    }
    #page-container{
        margin:5px 1px;
        padding: 20px 5px;
    }
    #calendar-controls{
        flex-direction: column;
    }
    #profile-container{
        flex-direction: column;
    }
    #proile-right table{
        width: 100%;
    }
    .edit-profile-form-sec{
        width: 100%;
    }
    #edit-profile-form{
        flex-direction: column;
    }
    #calendar-btns2{
        flex-direction: column;
    }
    #projectSelector-client{
        border-radius: 5px;
        margin-bottom: 5px;
    }
    #new-project-button-client{
        border-radius: 5px;
        margin:0 0 5px;
    }
    #new-task-button-client{
        margin-left: 0;
        margin-bottom: 5px;
    }
    #new-schedule-button-client{
        margin-bottom: 5px;
    }
    #calendar-legend{
        margin-bottom: 5px;
    }
    .task-container hr, .task-container-complete hr {
        width: 150px;
    }
    .task-center{
        font-size: 50px;
    }
}